<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "..//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
1. parameterType="board" -> 생략
2. resultType="board" -> 필수, select에서 사용
3. resultType의 문제점
 - join 구문을 포함할때는 사용할 수 없음
 - 자바객체의 프로퍼티명과 테이블의 컬럼명이 일치하지 않을때는 사용불가
4. resultType 대신에 resultMap을 사용하면 위의 문제점을 해결할 수 있음
 - result로 property와 column을 mapping
 - PK는 result 대신에 id를 사용할 수 있다
 
5. mapper 파일에서 sql문을 사용할때의 문제점
 - >, < 연산자를 태그로 인식하는 문제점
 - CDATA section을 사용
 
6. Dynamic SQL
 - SQL에서 선택적으로 실행할 내용을 구현하기 위해서 Mybatis에서 사용하는 문법
 - CDATA랑 같이 사용할 수 없음
 
 -->
<mapper namespace="BoardDAO">
	<resultMap type="board" id="boardResult">
		<result property="id" column="board_id"/>
		<result property="writer" column="writer"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="cnt" column="cnt"/>
		<result property="createDate" column="create_date"/>
		<result property="updateDate" column="update_date"/>
	</resultMap>

	<insert id="insert">
		<![CDATA[
		insert into board(board_id, writer, title, content) values(board_seq.nextval, #{writer}, #{title}, #{content})
		]]>
	</insert>
	
	<update id="update">
		<![CDATA[
		update board set title=#{title}, content=#{content}, writer=#{writer} where board_id=#{id}
		]]>
	</update>
	
	<!-- 번호에 의한 삭제 -->
	<delete id="delete">
		<![CDATA[
		delete from board where board_id=#{id}
		]]>
	</delete>
	
	<!-- 아이디에 의한 삭제 -->
	<delete id="deleteById">
		<![CDATA[
		delete from board where writer=#{writer}
		]]>
	</delete>
	
	<update id="updateCnt">
		<![CDATA[
		update board set cnt=cnt+1 where board_id=#{id}
		]]>
	</update>
	
	<select id="getBoard" resultMap="boardResult">
		<![CDATA[
		select * from board where board_id=#{id}
		]]>
	</select>
	
	<select id="getBoardList" resultMap="boardResult">
		<![CDATA[
		select * from board order by board_id desc
		]]>
	</select>
	
	<select id="getBoardListPaging" parameterType="Map" resultMap="boardResult">
		<![CDATA[
		select * from (
			select b.*, row_number() over(order by board_id desc) as rnum from board b
			where 1=1
		]]>
		<if test="board.searchCondition == 'TITLE'">
		and title like '%'||#{board.searchKeyword}||'%'
		</if>
		<if test="board.searchCondition == 'CONTENT'">
		and content like '%'||#{board.searchKeyword}||'%'
		</if>
		<if test="board.searchCondition == 'WRITER'">
		and writer like '%'||#{board.searchKeyword}||'%'
		</if>
		<![CDATA[
		) where rnum >= ((#{block.pageNum}-1) * #{block.amount} + 1) and rnum <= #{block.pageNum} * #{block.amount}
		]]>
	</select>
	
	<select id="getBoardListCount" resultType="int">
		<![CDATA[
		select count(*) from board
		where 1=1
		]]>
		<if test="searchCondition == 'TITLE'">
		and title like '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'CONTENT'">
		and content like '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'WRITER'">
		and writer like '%'||#{searchKeyword}||'%'
		</if>
		<![CDATA[
		order by create_date desc
		]]>
		
	</select>
</mapper>					